@font-face {
font-family: "ptsansnarrow";
src: url("ptsansnarrow.woff2") format("woff2"),
url("ptsansnarrow.woff") format("woff");
}

body {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	font-weight: bold;
	font-family: "PTSansNarrow", "Arial", "Serif";
	text-transform: uppercase;
}

.index-body {
  background: #070707 url(../img/index-back.jpg);
}

h2 {
	font-size: 30px;
	line-height: 42px;
}

h3 {
	font-size: 24px;
	line-height: 30px;
}

p {
  font-size: 14px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.product-category {
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  display: block;
}

.product-name {
  font-size: 14px;
  line-height: 18px;
  display: block;
}

.buy a {
  color: #ffffff;
  background-color: #000000;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;}

input[type=button] {
  padding: 10px 40px;
  /*width: 140px;*/
}

/*.appointment-form input[type=button] {
  width: 140px;
}*/

.product-price {
  background-color: #e5e5e5;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;}
}

.features-item h2 {
  font-size: 30px;
  line-height: 42px;
  text-align: center; /* почему слетело? */
}

.features-item p {
  text-align: center;
}

.news-preview {
  padding-left: 0;
}

time {
  line-height: auto;
}

.news-preview li {
  margin-bottom: 30px;
}
/* Сетки */

.main-navigation li {
  display: inline;
  padding-right: 20px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.user-block {
  font-size: 16px;
  line-height: 20px;
}

.clearfix::after {
	content:"";
	display: block;
	clear: both;
}
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-navigation {
	float: left;
	width: 780px;
}

.user-block {
	float: right;
	width: 140px;
}

.main-header {
  margin-bottom: 60px;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
}

.features-item:nth-child(3) {
  margin-right: 0;
}

.content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.news {
  float: left;
  width: 380px;
}

.photo-gallery {
  float: right;
  width: 300px;
}

.gallery-content {
  margin-left: 0;
  border: 7px solid #ffffff;
}

.btn {
  background-color: #000000;
  color: #ffffff;
  margin-right: 20px;
  padding: 10px;
}

.gallery-prev {
  font-size: 14px;
  line-height: 24px;
  margin-right: 20px;
}

.gallery-next {
  font-size: 14px;
  line-height: 24px;
}

.contacts {
  float: left;
  width: 380px;
}

.contacts p {
  margin-bottom: 30px;
}

.appointment {
  float: right;
  width: 300px;
}

.bread-crumbs li {
  display: inline;
  padding-right: 20px;
}

.bread-crumbs ul {
  padding-left: 0;
} 

.form-sort {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.form-sort ul {
  padding-left: 0;
}

.form-sort-but {
  color: #ffffff;
  background-color: #000000;
} 

.buy {
  border-size: border-box;
}

.catalog {
  float: right;
  width: 700px;
}

.catalog-nav {
  margin-top: 45px;
}

.item {
  width: 220px;
  float: left;
  margin-right: 20px;
  padding-top: 20px;
  background-color: #eeeeee;
  box-sizing: border-box;
}

.item:nth-child(3n) {
  margin-right: 0;
}

.item-photo {
  width: 460px;
  float: left;
  margin-right: 90px;
}

.good-info {
  width: 390px;
  float: right;
}

.in-stock {
  float: left;
}

.articul {
  float: right;
  color: #aeaeae; 
}

.price {
  float: left;
  background-color: #e5e5e5;
}

/* Футер*/
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  vertical-align: top;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-social {
  float: left;
  width: 180px;
  margin-right: 60px;
  text-align: center;
}

.footer-copyright {
  float: right;
  width: 180px;
  text-align: center;
}

.how-found {
  text-decoration: underline;
}
/*======================================
 Системное оформление - не изменять
=======================================*/

body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  display: none;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}

.features::before {
  content: ".features";
  top: -28px;
}

.features-item::before {
  content: ".features-item";
}

.index-content::before {
  content: ".index-content";
}

.index-content-left::before {
  content: ".index-content-left";
  left: auto;
  right: 0;
}

.index-content-right::before {
  content: ".index-content-right";
  left: auto;
  right: 0;
}

.main-footer::before {
  content: ".main-footer";
}

.main-footer .container::before {
  top: -28px;
}

.footer-contacts::before {
  content: ".footer-contacts";
}

.footer-social::before {
  content: ".footer-social";
}

.footer-copyright::before {
  content: ".footer-copyright";
}